* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  /* border-width: 1rem;
  border-color: green;
  border-style: dashed;  */
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

nav {
  position: fixed;
  /* position: absolute; */
  right: 5%;
  top: 14px;
  /* display: flex; */
  /* justify-content: space-between; */
  background-color: transparent;
  /* z-index: 2; */
}

li {
  list-style: none;
  display: inline;
  font-size: 20px;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
}

li.active {
border: 2px solid white;
border-radius: 4px;
}

.calendar {
  width: 90%;
  height: 90vh;
  background-color: rgb(55, 57, 56);
  box-shadow: 0 0.5rem 3rem rgba(218, 15, 15, 0.4);
  
}

.month {
  width: 100%;
  height: 15%;
  background-color: rgb(73, 203, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  
}

.month i {
  font-size: 3rem;
  cursor: pointer;
}

.month h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 2rem;
}

.weekdays {
  width: 100%;
  height: 7.5%;
  background-color: rgb(25, 177, 20);
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  text-align: center; */
  /* 바로 아랫단계 object에만 영향을 주고 그 아래 text는 text-align으로 컨트롤 */
}

.week {
  width: 100%;
  height: 77.5%;
  padding: 0 0.5rem;
  display: flex;
  /* justify-content: space-between; */
  /* background-color: red; */
}

.week--day, .week--day--today {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  /* text-align: center; */
  align-items: center;
  /* background-color: white; */
}

.week--day--list, .week--day--list--today {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  border: solid 1px;
  cursor: pointer;
  /* text-align: center; */
  /* align-items: center; */
  /* background-color: white; */
}

.elm {
  cursor: pointer;
  padding: 0.2rem 0;
}


.day--case {
  width: calc(100%);
  height: 85%;
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-size: 16px;
}

.day--list {
  width: calc(100%/5);
  background-color: black;
}

.day--content {
  width: 80%;
  background-color: rgb(36, 36, 35);
}

.days, .list:hover {
  cursor: pointer;

}

.weekdays div {
  width: calc(100%/7);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

}

.days {
  width: 100%;
  height: 77.5%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 0.5rem; */

}

.days div {
  width: calc(100%/7);
  height: calc(100%/6);
  background-color: black;
  font-size: 2.0rem;
  padding: 0.2rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: flex-start;
  /* flex-direction: column; */
  /* align-items: center; */
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;

}

/* .daytemp {
  background-color: red;
} */

.days div.week {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.days div .week div {
  height: 85%;
  width: 100%;
  border: 1px solid wheat;
}

.day.today {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .day--content {
  height: 80%;
  border: 0.5px solid white;
} */

.days div:hover {
  cursor: pointer;
}

.days div:hover:not(.today, .elm--list, .elm, .day--month) {
  /* background-color: #262626; */
  border: 0.2rem solid;
  /* border: 0.2rem solid #777; */
  /* cursor: pointer; */
}

.prev-date, .next-date {
  opacity: 0.5;
}

.today {
  background-color: black;
  border: 0.2rem solid white;
}

.day.elm {
  font-size: 1.2rem;
}

.day.list {
  padding: 0.5rem;
  margin-right: 1rem;
}

.selected, .selected2 {
  border: solid 0.2rem;
  border-radius: 1%;
}

.number--list {
  background-color: orange;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /* line-height: 24px; */
  position: relative;
  top: 74px;
  /* right: 8px; */
  /* opacity: 0; */
  transition: all var(--animation-duration) ease-in;
}

div.daytemp div.elm {
  font-size: 0.3rem;
}

/* .daytemp {
  padding: 0.5rem;
} */

.days div .elm--list {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.5rem 0.5rem;
  
}

.days div .elm--list div.elm {
  width: 100%;
}

.days div.day--month {
  width: 25%;
}